examples/Get ToDo list.json
[{"id":"95fb7da7c8b817b2","type":"todomvc-api","z":"f8b3404232c6ce7e","service":"7f36b77659676317","method":"list_todos","list_todos_xFields":"","list_todos_xFieldsType":"str","create_todo_payload":"","create_todo_payloadType":"str","create_todo_xFields":"","create_todo_xFieldsType":"str","put_todo_payload":"","put_todo_payloadType":"str","put_todo_xFields":"","put_todo_xFieldsType":"str","put_todo_id":"","put_todo_idType":"str","get_todo_xFields":"","get_todo_xFieldsType":"str","get_todo_id":"1","get_todo_idType":"str","delete_todo_id":"","delete_todo_idType":"str","name":"","x":320,"y":80,"wires":[["16baf89a9e514985"]]},{"id":"d25ef2702e06080e","type":"inject","z":"f8b3404232c6ce7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["95fb7da7c8b817b2"]]},{"id":"16baf89a9e514985","type":"debug","z":"f8b3404232c6ce7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":80,"wires":[]},{"id":"7f36b77659676317","type":"todomvc-api-service","host":"http://127.0.0.1:5000/","name":"flask"}]